<h2> Log In </h2>

<% if (errorMessage.length > 0) { %>
  <div class="error"> <%= errorMessage %> </div>
<% } %>

<form method="post" action="/login">
  <label for="username-input"> Account Name </label>
  <input  id="username-input" type="text" name="loginUsername">
  <br>  <!--                                          |        -->
        <!--                    usernameField: 'loginUsername' -->

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" name="loginPassword">
  <br>  <!--                                              |        -->
        <!--                        passwordField: 'loginPassword' -->

  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
